
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
body {

  font-family: 'Special Elite', cursive;
}


#guessWord {
  width: 450px;
  text-align: center;
  position: fixed;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 4px #aaa;
  font-size: 50px;
  color:blue;
}
#guessWord:hover {
    color: red;
}
#guessWord:active {
  color: blue;
}

#newWord {
  font-size: 25px;
  width: 450px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 4px #aaa;
  color: purple
}

#newWord:hover {
    color: black;
}
#newWord:active {
  color: purple;
}
